<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="8e9b1cf512274006a98524795eff66ea" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_8e9b1cf512274006a98524795eff66ea = echarts.init(
            document.getElementById('8e9b1cf512274006a98524795eff66ea'), 'white', {renderer: 'canvas'});
        var option_8e9b1cf512274006a98524795eff66ea = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                12,
                55
            ],
            "data": [
                {
                    "name": "39\u5c81",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,135,120)"
                        }
                    }
                },
                {
                    "name": "\u7537",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(55,106,20)"
                        }
                    }
                },
                {
                    "name": "\u5317\u4eac",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,133,158)"
                        }
                    }
                },
                {
                    "name": "\u559c\u6b22\u57286\u70b9\u8d2d\u7269",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,129,46)"
                        }
                    }
                },
                {
                    "name": "\u559c\u6b22\u65e0\u7c7b\u5546\u54c1",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,147,113)"
                        }
                    }
                },
                {
                    "name": "\u559c\u6b22samsung\u54c1\u724c",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,143,5)"
                        }
                    }
                },
                {
                    "name": "\u4e2d\u9891\u6d88\u8d39\u8005",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(131,57,33)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u6d88\u8d39\u7528\u6237",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,29,120)"
                        }
                    }
                },
                {
                    "name": 0.0,
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(142,18,138)"
                        }
                    }
                },
                {
                    "name": "\u6700\u540e\u8d2d\u4e70\u572870\u5929\u524d",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,109,11)"
                        }
                    }
                },
                {
                    "name": "\u91cd\u8981\u4ef7\u503c\u5ba2\u6237",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,40,14)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "1515915625440937984\u7528\u6237\u753b\u50cf",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_8e9b1cf512274006a98524795eff66ea.setOption(option_8e9b1cf512274006a98524795eff66ea);
    </script>
</body>
</html>
