# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pycharm2019\Business Data Analysis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
